/* .contant{
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    grid-gap: 20px;
}
.firse{
    background-color: aqua;
    padding: 20px;
}
.firse-1{
    grid-row: 1/span 2;
}
.first-5{
  grid-column-end: span 3;
} */
*{
    margin: 0;
}

.image img{
    width: 200px;
    height: 100px;
}
.first{
    display: inline-block;
    width: 600px;
    height: 200px;
    margin: 30px 0 0 100px;
    background-color: gray;
}
.content{
    padding-left: 0px;
    float: right;
    width: 100%;
}